<div class="row">
<div class="col-md-3"><img class="img-square" data-src="holder.js/200x200" alt="Generic placeholder image" holder-fix><br><br></div>
<div class="col-md-8"><h1>Project One</h1><br>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel sagittis augue, quis venenatis dolor. Suspendisse potenti. Vivamus neque odio, commodo non pulvinar eget, tempus ut arcu. Morbi luctus, sem non sodales posuere, mauris elit auctor nulla, sit amet congue nibh orci non velit. Mauris dignissim tellus ut feugiat lobortis. Duis bibendum placerat neque ac tempor. Nullam interdum velit non purus fringilla, a vestibulum ante cursus. Mauris porttitor risus vel tellus congue, quis pharetra risus accumsan. Proin pulvinar erat sit amet orci fermentum, ut blandit eros porttitor.
</p>
</div>
</div>

<div class="row">
<div class="col-md-3"><img class="img-square" data-src="holder.js/200x200" alt="Generic placeholder image" holder-fix><br><br></div>
<div class="col-md-8"><h1>Project Two</h1><br>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel sagittis augue, quis venenatis dolor. Suspendisse potenti. Vivamus neque odio, commodo non pulvinar eget, tempus ut arcu. Morbi luctus, sem non sodales posuere, mauris elit auctor nulla, sit amet congue nibh orci non velit. Mauris dignissim tellus ut feugiat lobortis. Duis bibendum placerat neque ac tempor. Nullam interdum velit non purus fringilla, a vestibulum ante cursus. Mauris porttitor risus vel tellus congue, quis pharetra risus accumsan. Proin pulvinar erat sit amet orci fermentum, ut blandit eros porttitor.
</p></div>
</div>

<div class="row">
<div class="col-md-3"><img class="img-square" data-src="holder.js/200x200" alt="Generic placeholder image" holder-fix><br><br></div>
<div class="col-md-8"><h1>Project Three</h1><br>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel sagittis augue, quis venenatis dolor. Suspendisse potenti. Vivamus neque odio, commodo non pulvinar eget, tempus ut arcu. Morbi luctus, sem non sodales posuere, mauris elit auctor nulla, sit amet congue nibh orci non velit. Mauris dignissim tellus ut feugiat lobortis. Duis bibendum placerat neque ac tempor. Nullam interdum velit non purus fringilla, a vestibulum ante cursus. Mauris porttitor risus vel tellus congue, quis pharetra risus accumsan. Proin pulvinar erat sit amet orci fermentum, ut blandit eros porttitor.
</p></div>
</div>

<div class="row">
<div class="col-md-3"><img class="img-square" data-src="holder.js/200x200" alt="Generic placeholder image" holder-fix><br><br></div>
<div class="col-md-8"><h1>Project Four</h1><br>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel sagittis augue, quis venenatis dolor. Suspendisse potenti. Vivamus neque odio, commodo non pulvinar eget, tempus ut arcu. Morbi luctus, sem non sodales posuere, mauris elit auctor nulla, sit amet congue nibh orci non velit. Mauris dignissim tellus ut feugiat lobortis. Duis bibendum placerat neque ac tempor. Nullam interdum velit non purus fringilla, a vestibulum ante cursus. Mauris porttitor risus vel tellus congue, quis pharetra risus accumsan. Proin pulvinar erat sit amet orci fermentum, ut blandit eros porttitor.
</p></div>
</div>